.game-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-green-300);
  touch-action: none;
}
.game-container .game-question {
  position: absolute;
  padding: 1rem;
  z-index: 100;
}
.game-question h3 {
  padding: clamp(1rem, 2vw, 2rem);
  border: 2px solid var(--color-black-700);
  border-radius: 1rem;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  background: var(--color-beige-100);
}
.map-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.mapa {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.mapgame-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 9;
}
.mapgame-dot {
  width: 1rem;
  height: 1rem;
  background: var(--color-beige-100);
  border-radius: 999px;
  border: 1px solid var(--color-black-700);
  box-shadow: -3px 3px 0 var(--color-black-700);
  transition: all 0.3s ease;
}
.mapgame-dot.active {
  width: 3rem;
  background: var(--color-pink-300);
}
.draggable-container {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 140px;
  height: 180px;
  border: 2px dashed var(--color-black-700);
  border-radius: 1rem;
  transform: translate(0, -50%);
  background: var(--color-pink-100);
  z-index: 8;
}
.draggable {
  width: 6.25rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  cursor: grab;
  z-index: 10;
}
.dropzone {
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.2s ease;
  z-index: 5;
}
.dropzone.hovered {
  border: 2px solid var(--color-pink-300);
  background: rgba(255, 243, 219, 0.736);
}
/* Posiciones dropzone en el mapa */
.dropzone.america {
  top: 70%;
  left: 30%;
}
.dropzone.africa {
  top: 55%;
  left: 50%;
}
.dropzone.asia {
  top: 30%;
  left: 65%;
}
.dropzone.europa {
  top: 30%;
  left: 50%;
}
.dropzone.oceania {
  top: 75%;
  left: 75%;
}
/* Animacion overlay */
.mapgame-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(8, 8, 8, 0.9);
  color: var(--color-beige-100);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
}
.mapgame-overlay-content {
  background: var(--color-green-400);
  padding: 2rem;
  border-radius: 12px;
}
@media (max-width: 920px) {
  .game-question h3 {
    padding: 1rem;
    border: 2px solid var(--color-black-700);
    border-radius: 1rem;
    font-size: 1rem;
    background: var(--color-beige-100);
  }
  .draggable-container {
    width: 100px;
    height: 140px;
  }
  .draggable {
    top: 40%;
    right: 3%;
    transform: scale(0.9);
  }
  .dropzone {
    width: 5rem;
    height: 5rem;
  }
  .mapa {
    transform: scale(1.2);
  }
  .dropzone.africa {
    left: 45%;
  }
  .dropzone.asia {
    left: 65%;
  }
  .dropzone.europa {
    left: 50%;
  }
  .dropzone.oceania {
    left: 70%;
  }
}
