.welcome-screen {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-bg);
  overflow: hidden;
}
.welcome-holder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 clamp(1.5rem, 6vw, 5rem);
}
.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.button-holder {
  display: flex;
  align-items: center;
  width: 100%;
}
.welcome-holder img {
  position: absolute;
  z-index: 1;
}
.welcome-holder .img1 {
  width: clamp(280px, 32vw, 446px);
  right: 0;
  top: 20%;
}
.welcome-holder .img2 {
  width: clamp(280px, 32vw, 446px);
  right: 25%;
  bottom: 0;
}
.welcome-holder .img3 {
  width: clamp(360px, 32vw, 547px);
  left: 0;
  bottom: 0;
}
.banner-top-welcome {
  position: absolute;
  top: 0;
  width: 100%;
  height: 140px;
  background: var(--color-mustard-700);
}
.welcome-screen h1 {
  color: var(--colot-black-700);
  font-size: clamp(2rem, 6vw, 4rem);
}
.welcome-screen h4 {
  color: var(--color-mustard-700);
  font-size: clamp(1.5rem, 6vw, 2rem);
}
.welcome-screen button {
  margin-top: 20px;
  padding: 1rem 2.5rem;
  border: 2px solid var(--color-black-700);
  border-radius: 0.5rem;
  box-shadow: -4px 6px 0 var(--color-black-700);
  font-family: "monserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-beige-100);
  background-color: var(--color-mustard-700);
  cursor: pointer;
  transition: box-shadow 250ms, transform 250ms, filter 50ms;
}
.welcome-screen button:hover {
  transform: translate(1px, 1px);
  box-shadow: -2px 3px 0 var(--color-black-700);
}
.welcome-screen button:active {
  filter: saturate(0.75);
}
@media (max-width: 920px) {
  .banner-top-welcome {
    display: none;
  }
  .welcome-holder {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
  .welcome-text {
    justify-content: space-between;
  }
  .button-holder {
    justify-content: center;
  }
  .welcome-holder .img1 {
    right: 0;
    top: 25%;
  }
  .welcome-holder .img2 {
    right: 0;
    bottom: 12%;
  }
  .welcome-holder .img3 {
    left: -4rem;
    bottom: 50%;
    transform: translateY(50%);
  }
}
@media (max-width: 480px) {
  .welcome-holder .img1,
  .welcome-holder .img2 {
    right: -7rem;
  }
  .welcome-holder .img3 {
    left: -7rem;
  }
}
