:root {
  /* Base */
  font-family: "Montserrat", sans-serif;
  --color-black-700: #020b06;
  --color-mustard-400: #f0bd50;
  --color-mustard-700: #d8771b;
  --color-beige-100: #fff3db;
  --color-beige-300: #f8d693;
  --color-yellow-500: #fde509;
  --color-pink-300: #ff99bb;
  --color-pink-100: #fcd6e3;
  --color-green-200: #00c64c;
  --color-green-400: #018e6f;
  --color-green-600: #236b39;

  /* Funcionales */
  --color-bg: var(--color-beige-100);
  --color-bg-game-1: var(--color-green-400);
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: var(--color-bg);
}
li,
a {
  text-decoration: none;
  list-style: none;
}
h1 {
  font-size: 4rem;
  font-weight: 800;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
}
h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
h4 {
  font-size: 2rem;
  font-weight: 600;
}
h5 {
  font-size: 1.7rem;
  font-weight: 500;
}
h6 {
  font-size: 1.5rem;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 3.5rem;
}
.banner-top {
  width: 100%;
  height: 96px;
  background: var(--color-mustard-700);
}
@media (max-width: 920px) {
  .banner-top {
    display: none;
  }
}
